<h1 class="is-size-3">AssignDirective</h1>

<article>
  <h2 class="is-size-4">Users</h2>
  <h2 class="is-size-4">Assigned</h2>

  <ng-template
    [appAssign]="users"
    [(assignedItems)]="assignedUsers"
    let-assignUsers$
    let-move="move"
  >
    <section class="assign">
      <ul>
        <li *ngFor="let user of assignUsers$ | async" (click)="move(user)">
          {{ user.firstName }} {{ user.lastName }}
        </li>
      </ul>
    </section>
  </ng-template>

  <pre
    >{{ users | json }}
    </pre
  >
  <pre>{{ assignedUsers | json }}</pre>
</article>
