article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.assign {
  border: 1px solid grey;
}

li {
  cursor: pointer;
  padding: 0.5rem;

  &:hover {
    background-color: grey;
  }
}
