<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/', 'directives', 'add-foo']"
      >AddFooDirective</a
    >
    <a class="navbar-item" [routerLink]="['/', 'directives', 'log-click']"
      >LogClickDirective</a
    >
    <a class="navbar-item" [routerLink]="['/', 'directives', 'user-binding']"
      >UserBindingDirective</a
    >
    <a
      class="navbar-item"
      [routerLink]="['/', 'structural-directives', 'unless']"
      >UnlessDirective</a
    >
    <a
      class="navbar-item"
      [routerLink]="['/', 'structural-directives', 'assign']"
      >AssignDirective</a
    >
    <a
      class="navbar-item"
      [routerLink]="['/', 'structural-directives', 'header']"
      >HeaderDirective</a
    >
    <a
      class="navbar-item"
      href="https://netbasal.com/the-power-of-structural-directives-in-angular-bfe4d8c44fb1"
      target="_blank"
      >RangeDirective</a
    >
  </div>
</nav>
<router-outlet></router-outlet>
