<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" [routerLink]="['/', 'directives', 'add-foo']"
      >AddFooDirective</a
    >
    <a class="navbar-item" [routerLink]="['/', 'directives', 'log-click']"
      >LogClickDirective</a
    >
    <a class="navbar-item" [routerLink]="['/', 'directives', 'user-binding']"
      >UserBindingDirective</a
    >
    <a
      class="navbar-item"
      [routerLink]="['/', 'structural-directives', 'unless']"
      >UnlessDirective</a
    >
  </div>
</nav>
<router-outlet></router-outlet>
